.header {
    padding: 20px;


}

.logo-container {
    /* background-color: black; */
    width: 300px;
    height: 100px;
}

.logo{
    width:auto;
    height: 100px;
}

.login-btn,.logout-btn{
    background-color: #E7A243;
    border: 1px black solid;
    font-weight: bold;
}


.user-infor {
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 20px;
}

.user-icon {
    /* background-color: black; */
    border-radius: 50%;
    height: 80px;
    width: 80px;
    align-items: flex-end;
}

.user-name {
    padding: 0px 30px 0px 10px;
    font-size: 20px;
    font-weight: bold;
}

.user-icon>img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: black !important;
}

.nav-item {
    padding: 0px 50px;
    color: white !important;
}

.navbar-nav>li:hover {
    background-color: #E7A243;
}