body{
    background-color: #e9e3df;
}

.header{
    padding: 20px;
    
    
}

.logo-container{
    background-color: black;
    width: 300px;
    height: 100px;
}

.user-infor{
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 20px;
}

.user-icon{
    background-color: black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    align-items: flex-end;
}

.user-name{
    padding:0px 30px 0px 10px;

}

.user-icon>img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

#profile-icon>img{
    max-width: 225px;
    max-height: 225px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: black !important;
}

.nav-item{
padding: 0px 50px;
color: white !important;
}

.navbar-nav>li:hover {
    background-color:#E7A243 ;
}


.profile-class{
    padding-top: 20px;
    /* background-color: brown; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;

}

.profile-icon-container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
#profile-icon{
   margin-top: 10px;
    height: 200px;
    width: 200px;
   /* background-color: black; */
   display: flex;
   /* flex-direction: column; */
   justify-content: center;
   align-items: center;
}



.profile-text-container{
    padding-top: 20px;
    text-align: left;
    width: 500px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.profile-username,.profile-email,.profile-phone{
    padding-top: 20px;
}

.profile-edit{
    /* background-color: brown; */
    border: #E7A243 solid 2px;
    color: black;
}

.profile-edit:hover{
    background-color: #E7A243;
    border: #E7A243 solid 2px;
}